<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thêm Mới Nhân Viên</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div class="groove">
  <div class="container-fluid table-responsive">
    <h1 class="text-center text-danger">Quản Lý Nhân Viên</h1>
    <h4 class="text-center text-success">Thêm Mới Nhân Viên</h4>
    <form [formGroup]="formCreateNew">
      <div class="row mt-5">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Mã Nhân Viên</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="employeeCode"/>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Tài Khoản</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="email"/>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Họ Tên</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="fullName"/>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Mật Khẩu</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="password" class="form-control" formControlName="password"/>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Ngày Sinh</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="date" class="form-control" formControlName="birthDay"/>
<!--              <mat-form-field>-->
<!--              <input matInput [matDatepicker]="birthDay"-->
<!--                       formControlName="birthDay" placeholder="Chọn Ngày Sinh"/>-->
<!--                <mat-datepicker-toggle matSuffix [for]="birthDay"></mat-datepicker-toggle>-->
<!--                <mat-datepicker #birthDay></mat-datepicker>-->
<!--              </mat-form-field>-->
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Số Điện Thoại</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="numberPhone"/>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Giới Tính</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <select class="form-control d-flex justify-content-start" formControlName="gender">
                <option value="Chọn Giới Tính">Chọn Giới Tính</option>
                <option *ngFor="let genderOfList of genderList">{{genderOfList.name}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Phân Quyền</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <select class="form-control d-flex justify-content-start" formControlName="role">
                <option value="Chọn Quyền">Chọn Quyền</option>
                <option value="Quản Lý">Quản Lý</option>
                <option value="Nhân Viên">Nhân Viên</option>
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-5 ml-5">
            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary ml-1" value="Quay Lại"
                      [routerLink]="['/list-employee']">Quay Lại</button>
              <button type="button" class="btn btn-dark ml-1" value="Xóa"
                      (click)="resetAll()">Xóa</button>
              <button type="button" class="btn btn-success ml-1" value="Lưu"
                      [disabled]="formCreateNew.invalid" (click)="createNew()">Lưu</button>
            </div>
            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
