<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Edit User</title>
</head>
<body>
<header th:replace="~{common/common::hearderUser}"></header>
<div align="center">
    <div style="width: 250px; height: 350px">
        <div class="container">
                   <form class="well form-horizontal" action=" " th:action="@{/user/update}" th:object="${userEdit}" method="post"  id="contact_form">
                <fieldset style="background-color: #20b2395e">

                    <!-- Form Name -->
                    <legend><center><h2><b>Edit User</b></h2></center></legend><br>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">ID User</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input name="ID" placeholder="ID" class="form-control"  type="text" th:field="*{id}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" >First Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="firstName" placeholder="First Name" class="form-control"  type="text" th:field="*{firstName}">
                                <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name/label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="lastName" placeholder="Last Name" class="form-control"  type="text" th:field="*{lastName}">
                                <p style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" >Phone Number</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="phoneNumber" placeholder="Phone Number" class="form-control"  type="text" th:field="*{phoneNumber}">
                                <p style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="email" placeholder="Email" class="form-control"  type="text" th:field="*{email}">
                                <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-2"><br>
                            <button type="submit" class="btn btn-warning" >UPDATE</button>
                            <button type="submit" class="btn btn-warning"><a th:href="@{/}" style="text-decoration: none; color: #0c0c0c">CANCEL</a></button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{common/common::footerUser}"></footer>
</body>
</html>
