<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAX Customer</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        h3 {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Birth Day</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody id="tableList">
        </tbody>
    </table>
</div>
<br>
<input type="button" id="loadMore" value="Load More"><br><br>
<div style="color: red" id="endInformation"></div>
<br>
<label>
    <input type="text" id="keyword" placeholder="Search by Name"/>
</label>
<input id="searchCustomer" type="button" value="Search"/><br>

<div id="searchResult"></div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form>
            <div class="text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: darkblue"
                    id="add">
                    <strong>Create New Customer</strong></h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID :</label>
                    <input type="text" class="form-control" id="id" required/>

                </div>

                <div class="form-group">
                    <label for="name">Name :</label>
                    <input type="text" class="form-control" id="name" required/>
                </div>

                <div class="form-group">
                    <label for="birthDay">Birth Day :</label>
                    <input type="date" class="form-control" id="birthDay" required/>
                </div>

                <div class="form-group">
                    <label for="gender">Gender :</label>
                    <input type="text" class="form-control" id="gender" required/>
                </div>

                <div class="form-group">
                    <label for="salary">Salary :</label>
                    <input type="text" class="form-control" id="salary" required/>
                </div>

                <div class="form-group">
                    <label for="idCard">ID Card :</label>
                    <input type="text" class="form-control" id="idCard" required/>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number :</label>
                    <input type="text" class="form-control" id="phoneNumber" required/>
                </div>

                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="text" class="form-control" id="email" required/>
                </div>

                <div class="form-group">
                    <label for="address">Address :</label>
                    <input type="text" class="form-control" id="address" required/>
                </div>

                <div class="form-group">
                    <label for="customerType">Customer Type :</label>
                    <select id="customerType" required>
                        <option>Diamond</option>
                        <option>Platinum</option>
                        <option>Gold</option>
                        <option>Silver</option>
                        <option>Member</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button id="createNewCustomer">Create New</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>

<script src="../static/js/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function () {
        let data = '';
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/restCustomerController/list",
            success: function (listCustomer) {
                for (let i = 0; i < listCustomer.length; i++) {
                    data += '<tr>\n' +
                        '<td>' + listCustomer[i].name + '</td>\n' +
                        '<td>' + listCustomer[i].birthDay + '</td>\n' +
                        '<td>' + listCustomer[i].phoneNumber + '</td>\n' +
                        '<td>' + listCustomer[i].email + '</td>\n' +
                        '<td>' + listCustomer[i].address + '</td>\n' +
                        '</tr>';
                }
                $("#tableList").html(data);
            },
            error: function (content) {
                console.log(content);
            }
        });
    });

    $(document).ready(function () {
        let data = '';
        let dataNotFound = '';
        $("#searchCustomer").click(function () {
            let keyword = $("#keyword").val();
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/restCustomerController/search/" + keyword,
                success: function (listCustomer) {
                    for (let i = 0; i < listCustomer.length; i++) {
                        data += '<br><br>' + '<h3>Name : ' + listCustomer[i].name + '</h3>' + '<h3>Birth Day : ' +
                            listCustomer[i].birthDay + '</h3>' + '<h3>Phone Number : ' + listCustomer[i].phoneNumber
                            + '</h3>' + '<h3>Email : ' + listCustomer[i].email + '</h3>' +
                            '<h3>Type Customer : ' + listCustomer[i].address + '</h3>';
                        $("#searchResult").html(data);
                    }
                    if (data === '') {
                        dataNotFound = '<br><h3> Nothing ! </h3>';
                        $("#searchResult").html(dataNotFound);
                    }
                },
                error: function (content) {
                    console.log(content);
                }
            });
        });
    });

    $('#createNewCustomer').click(function () {
        let id = $("#id").val();
        let name = $("#name").val();
        let birthDay = $("#birthDay").val();
        let gender = $("#gender").val();
        let salary = $("#salary").val();
        let idCard = $("#idCard").val();
        let phoneNumber = $("#phoneNumber").val();
        let email = $("#email").val();
        let address = $("#address").val();
        let customerType = $("#customerType").val();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: "http://localhost:8080/restCustomerController/createNewCustomer/" + id + "/" + name + "/"
            + birthDay + "/" + gender + "/" + salary + "/" + idCard + "/" + phoneNumber + "/" + email + "/"
                + address + "/" + customerType,
            success: function (listCustomer) {
                for (let i = 0; i < listCustomer.length; i++) {
                    data += '<tr>\n' +
                        '<td>' + listCustomer[i].name + '</td>\n' +
                        '<td>' + listCustomer[i].birthDay + '</td>\n' +
                        '<td>' + listCustomer[i].phoneNumber + '</td>\n' +
                        '<td>' + listCustomer[i].email + '</td>\n' +
                        '<td>' + listCustomer[i].address + '</td>\n' +
                        '</tr>';
                }
                $("#tableList").html(data);
            },
            error: function (content) {
                console.log(content);
            }
        });
    });

    // $(document).ready(function () {
    //     let limit = 3;
    //     let start = 0;
    //     let data = '';
    //     let endInformation = '';
    //     $.ajax({
    //         headers: {
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json'
    //         },
    //         type: "GET",
    //         url: "http://localhost:8080/restCustomerController/scroll?start=" + start + "&limit=" + limit,
    //         success: function (listCustomer) {
    //             for (let i = 0; i < listCustomer.length; i++) {
    //                 data += '<tr>\n' +
    //                     '<td>' + listCustomer[i].name + '</td>\n' +
    //                     '<td>' + listCustomer[i].birthDay + '</td>\n' +
    //                     '<td>' + listCustomer[i].phoneNumber + '</td>\n' +
    //                     '<td>' + listCustomer[i].email + '</td>\n' +
    //                     '<td>' + listCustomer[i].address + '</td>\n' +
    //                     '</tr>';
    //             }
    //             $("#tableList").html(data);
    //         },
    //         error: function (content) {
    //             console.log(content);
    //         }
    //     });
    //
    //     $('#loadMore').click(function () {
    //         start += 3;
    //         let dataEmpty = "";
    //         $.ajax({
    //             headers: {
    //                 'Accept': 'application/json',
    //                 'Content-Type': 'application/json'
    //             },
    //             type: "GET",
    //             url: "http://localhost:8080/restCustomerController/scroll?start=" + start + "&limit=" + limit,
    //             success: function (listCustomer) {
    //                 for (let i = 0; i < listCustomer.length; i++) {
    //                     data += '<tr>\n' +
    //                         '<td>' + listCustomer[i].name + '</td>\n' +
    //                         '<td>' + listCustomer[i].birthDay + '</td>\n' +
    //                         '<td>' + listCustomer[i].phoneNumber + '</td>\n' +
    //                         '<td>' + listCustomer[i].email + '</td>\n' +
    //                         '<td>' + listCustomer[i].customerType.name + '</td>\n' +
    //                         '</tr>';
    //                     dataEmpty += listCustomer[i].name;
    //                 }
    //                 $("#tableList").html(data);
    //                 if (dataEmpty === '') {
    //                     endInformation += 'Nothing ! Please do not press me anymore !' + '<br>';
    //                 }
    //                 $("#endInformation").html(endInformation);
    //             },
    //             error: function (content) {
    //                 console.log(content);
    //             }
    //         });
    //     });
    // });
</script>
</body>
</html>