<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Edit Product</title>
</head>
<body>
<header th:replace="/common::hearderProduct"></header>
<div align="center">
    <div style="width: 300px; height: 350px">
        <div class="container">
            <form class="well form-horizontal" action=" " th:action="@{/product/detailView}" th:object="${productView}" method="post"  id="contact_form">
                <fieldset style="background-color: #20b2395e">

                    <!-- Form Name -->
                    <legend><center><h2><b>Edit Product</b></h2></center></legend><br>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">ID Product</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input name="ID" placeholder="ID" class="form-control"  type="text" th:field="*{id}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" >Name Product</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="nameProduct" placeholder="Name Product" class="form-control"  type="text" th:field="*{nameProduct}" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Type Product</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="typeOfProduct" placeholder="Type Of Product" class="form-control"  type="text" th:field="*{typeOfProduct}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Producer Product</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="producerOfProduct" placeholder="Producer Of Product" class="form-control"  type="text" th:field="*{producerOfProduct}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4"><br>
                            <button type="submit" class="btn btn-warning" ><a th:href="@{/}" style="text-decoration: none; color: #0c0c0c">Back to Product List</a></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/common::footerProduct"></footer>
</body>
</html>
