<div align="center" class="row mx-0 px-0">
  <div class="col-md-6"></div>

  <div class="col-md-4">
    <form>
      <button class="btn btn-success" type="submit" style="margin-left: -120px; margin-top: -152px" value="Search"
      >Search
      </button>
      <input class="form-control mr-sm-2" type="text" placeholder="Search By Name" aria-label="Search"
             style="width: 250px; margin-top: -105px; margin-left: 200px" [(ngModel)]="term">
    </form>
  </div>

  <div class="col-md-2"></div>
</div>

<div align="center">
  <h1 style="margin-top: -20px; margin-bottom: 12px">Employee List</h1>
  <button type="submit" class="btn btn-warning" style="margin-top: -13px; margin-bottom: 3px"
          [routerLink]="['/employee-add']">
    <i class="fas fa-plus"></i> Add New Employee
  </button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Division</th>
    <th scope="col">Education Degree</th>
    <th scope="col">Position</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees |filter: term | paginate: { itemsPerPage: 3, currentPage: p }">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.birthday | date: "dd/MM/yyyy"}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.division}}</td>
    <td>{{employee.educationDegree}}</td>
    <td>{{employee.position}}</td>
    <td>
      <a><i class="fa fa-eye" style="color: blue"></i></a>
      <a [routerLink]="['/employee-edit' + '/' + employee.id]"><i class="material-icons" style="color: hotpink">&#xE254;</i></a>
      <a (click)="openDialog(employee.id)"><i class="material-icons" style="color: red">&#xE5C9;</i></a>
    </td>
  </tr>
  </tbody>
</table>
<div style="margin-left: 1000px;">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
