<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <form [formGroup]="formEdit">
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: #218b55"
            id="add">
          <strong>Edit Information</strong></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name :</label>
          <input type="text" class="form-control" formControlName="name"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.name?.invalid && (formEdit.controls.name?.dirty
            || formEdit.controls.name?.touched)">
            Invalid name ! Name must not be left blank !
          </p>
        </div>

        <div class="form-group">
          <label>Price :</label><br>
          <input type="text" class="form-control" formControlName="price"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.price?.invalid && (formEdit.controls.price?.dirty
            || formEdit.controls.price?.touched)">
            Price is not valid ! Price must be a positive number !
          </p>
        </div>

        <div class="form-group">
          <label>Status :</label>
          <input type="text" class="form-control" formControlName="status"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.status?.invalid && (formEdit.controls.status?.dirty
            || formEdit.controls.status?.touched)">
            Invalid status ! Status must not be left blank !
          </p>
        </div>

        <div class="form-group">
          <label>Type : </label>
          <select style="margin-left: 15px" formControlName="type">
            <option *ngFor="let typeOfList of typeListEdit" [value]="typeOfList.name">
              {{typeOfList.name}}</option>
          </select>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <h5 class="text-danger" [hidden]="formEdit.valid">Please enter all of the above fields correctly !
      </h5>
    </div>
    <div class="row justify-content-center">
      <!-- -------------------------------Change Page ------------------------------------------- -->
<!--      <button [routerLink]="['/list']" class="btn btn-warning mr-3" style="width: 100px">Cancel</button>-->
      <!--------------------------------------------------------------------------------------------->

      <!-- ------------------------------------------ Dialog ---------------------------------- -->
      <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px">Cancel</button>
      <!---------------------------------------------------------------------------------------->

      <button class="btn btn-success" [disabled]="formEdit.invalid" (click)="edit()">
        Update
      </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
