<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <title>View Category</title>
</head>
<body>
<header th:replace="common/common::hearderBlog "></header>
<div align="center">
    <div style="width: 300px; height: 350px">
        <div class="container">
            <form class="well form-horizontal" action=" " th:action="@{/category/view}" th:object="${categoryView}" method="post"  id="contact_form">
                <fieldset style="background-color: #20b2395e">

                    <!-- Form Name -->
                    <legend><center><h2><b>View Category</b></h2></center></legend><br>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">ID Category</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input name="id" placeholder="ID" class="form-control"  type="text" th:field="*{id}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" >Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="nameCategory" placeholder="Name Category" class="form-control"  type="text" th:field="*{name}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4"><br>
                            <button type="submit" class="btn btn-warning" ><a th:href="@{/category}" style="text-decoration: none; color: #0c0c0c">Back to Category List</a></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:replace="common/common::footerBlog"></footer>
</body>
</html>
