<head>
  <title>Add New Employee</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous">
  </script>
</head>
<body>
<div class="container-fluid">
  <div align="center">
    <div>
      <div class="container">
        <form [formGroup]="formAddNewEmployee">
          <fieldset>
            <legend>
              <h2><b>Add New Employee</b></h2>
            </legend>
            <br>

            <!--          <div class="form-group">-->
            <!--            <label class="col-md-4 control-label">ID Employee</label>-->
            <!--            <div class="col-md-4 inputGroupContainer">-->
            <!--              <div class="input-group">-->
            <!--                <input placeholder="ID Employee" class="form-control" type="text">-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->

            <div class="form-group">
              <label class="col-md-4 control-label">Name Employee</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input placeholder="Name Employee" class="form-control" type="text" formControlName="name">
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.name.errors?.required
              && formAddNewEmployee.controls.name.touched" class="text-danger">Input Name</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Birthday</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input matInput [matDatepicker]="myDatepicker" class="form-control"
                         formControlName="birthday" placeholder="Choose a date" [max]="maxDate" [min]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.birthday.errors?.required
              && formAddNewEmployee.controls.birthday.touched" class="text-danger">Input Birthday. Age must be less than
                18 years old (1920 - 2012)</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">ID Card</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input placeholder="ID Card" class="form-control" type="text" formControlName="idCard">
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.idCard.errors?.required
              && formAddNewEmployee.controls.idCard.touched" class="text-danger">Input ID Card</label>

              <label *ngIf="formAddNewEmployee.controls.idCard.errors?.pattern
              && formAddNewEmployee.controls.idCard.touched" class="text-danger">Invalid ID card ! Format: XXXXXXXXX or
                XXXXXXXXXXXX (X: 0-9)</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Address</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input placeholder="Address" class="form-control" type="text" formControlName="address">
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.address.errors?.required
              && formAddNewEmployee.controls.address.touched" class="text-danger">Input Address</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Email</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input placeholder="Email" class="form-control" type="text" formControlName="email">
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.email.errors?.required
              && formAddNewEmployee.controls.email.touched" class="text-danger">Input Email</label>

              <label *ngIf="formAddNewEmployee.controls.email.errors?.email
              && formAddNewEmployee.controls.email.touched" class="text-danger">Invalid Email! Format:
                abc@abc.abc</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Phone Number</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input placeholder="Phone Number" class="form-control" type="text" formControlName="phoneNumber">
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.phoneNumber.errors?.required
              && formAddNewEmployee.controls.phoneNumber.touched" class="text-danger">Input Phone Number</label>

              <label *ngIf="formAddNewEmployee.controls.phoneNumber.errors?.pattern
              && formAddNewEmployee.controls.phoneNumber.touched" class="text-danger">Invalid Phone ! Format: 090xxxxxxx
                || 091xxxxxxx || (84)+90xxxxxxx || (84)+91xxxxxxx (x: 0-9)</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Salary</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <input placeholder="Salary" class="form-control" type="text" formControlName="salary">
                </div>
              </div>
              <label *ngIf="formAddNewEmployee.controls.salary.errors?.required
              && formAddNewEmployee.controls.salary.touched" class="text-danger">Input Salary</label>

              <label *ngIf="formAddNewEmployee.controls.salary.errors?.pattern
              && formAddNewEmployee.controls.salary.touched" class="text-danger">Salary must be >= 0</label>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Division</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <select formControlName="division" class="form-control">
                    <option *ngFor="let element of divisionList">{{element.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Education Degree</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <select formControlName="educationDegree" class="form-control">
                    <option *ngFor="let element of educationDegreeList">{{element.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Position</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <select formControlName="position" class="form-control">
                    <option *ngFor="let element of positionList">{{element.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <div class="col-md-4">
                <button [disabled]="formAddNewEmployee.invalid" type="submit" class="btn btn-warning mx-2"
                        (click)="addNewEmployee()">CREATE
                </button>
                <button type="submit" class="btn btn-warning"
                        [routerLink]="['/employee-list']">CANCEL
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>


