<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Customer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div>
            <th:block th:replace="fragment :: header"/>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form action="/customer/createNewForPage" method="post" th:object="${customer}">
                    <div class="text-center">
                        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: darkblue"
                            id="add">
                            <strong>Create New Customer</strong></h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id">ID :</label>
                            <input type="text" class="form-control" id="id" th:field="*{id}" required/>
                            <p style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
                            <p style="color: red" th:text="${messageIdExist}"></p>
                        </div>

                        <div class="form-group">
                            <label for="name">Name :</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" required/>
                            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>

                        <div class="form-group">
                            <label for="birthDay">Birth Day :</label>
                            <input type="date" class="form-control" id="birthDay" th:field="*{birthDay}" required/>
                            <p style="color: red" th:if="${#fields.hasErrors('birthDay')}"
                               th:errors="*{birthDay}"></p>
                        </div>

                        <div class="form-group">
                            <label for="gender">Gender :</label>
                            <select class="form-control" id="gender" th:field="*{gender}" required>
                                <th:block th:each="genderNew : ${genderList}">
                                    <option th:value="${genderNew}" th:text="${genderNew}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="salary">Salary :</label>
                            <input type="text" class="form-control" id="salary" th:field="*{salary}" required/>
                            <p style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>
                        </div>

                        <div class="form-group">
                            <label for="idCard">ID Card :</label>
                            <input type="text" class="form-control" id="idCard" th:field="*{idCard}" required/>
                            <p style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">Phone Number :</label>
                            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"
                                   required/>
                            <p style="color: red" th:if="${#fields.hasErrors('phoneNumber')}"
                               th:errors="*{phoneNumber}"></p>
                        </div>

                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input type="text" class="form-control" id="email" th:field="*{email}" required/>
                            <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>

                        <div class="form-group">
                            <label for="address">Address :</label>
                            <input type="text" class="form-control" id="address" th:field="*{address}"
                                   required/>
                            <p style="color: red" th:if="${#fields.hasErrors('address')}"
                               th:errors="*{address}"></p>
                        </div>

                        <div class="form-group">
                            <label for="customerType">Customer Type :</label>
                            <select class="form-control" id="customerType" th:field="*{customerType}" required>
                                <th:block th:each="customerType : ${customerTypeList}">
                                    <option th:value="${customerType.id}" th:text="${customerType.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/customer}" th:text="Cancel"></a>
                            <input type="submit" class="btn btn-info" value="Create New"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <script src="/js/jquery-3.5.1.min.js"></script>

</body>
</html>