<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <form [formGroup]="formCreateNew">
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: #8b3021"
            id="add">
          <strong>Create New</strong></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ID :</label>
          <input type="text" class="form-control" formControlName="idFormat"/>
          <p class="text-danger"
             *ngIf="formCreateNew.get('idFormat').hasError('pattern')
             && (formCreateNew.controls.idFormat?.dirty
            || formCreateNew.controls.idFormat?.touched)">
            Invalid ID ! Format ID is SP-XXXX with X is number from 0 to 9 !
          </p>

          <p class="text-danger"
             *ngIf="formCreateNew.get('idFormat').hasError('required')
             && (formCreateNew.controls.idFormat?.dirty
            || formCreateNew.controls.idFormat?.touched)">
            Invalid ID ! ID must not be left blank !
          </p>

          <p class="text-danger"
             *ngIf="formCreateNew.get('idFormat').hasError('idExists')
                                 && (formCreateNew.controls.idFormat?.dirty
                                || formCreateNew.controls.idFormat?.touched)">
            ID is exists ! Please enter ID other !
          </p>
        </div>

        <div class="form-group">
          <label>Name :</label>
          <input type="text" class="form-control" formControlName="name"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.name?.invalid && (formCreateNew.controls.name?.dirty
            || formCreateNew.controls.name?.touched)">
            Invalid name ! Name must not be left blank !
          </p>
        </div>

        <div class="form-group">
          <label>Price :</label><br>
          <input type="text" class="form-control" formControlName="price"/>
          <p class="text-danger"
             *ngIf="formCreateNew.get('price').hasError('pattern')
             && (formCreateNew.controls.price?.dirty
            || formCreateNew.controls.price?.touched)">
            Price is not valid ! Price must be a positive number !
          </p>

          <p class="text-danger"
             *ngIf="formCreateNew.get('price').hasError('required')
             && (formCreateNew.controls.price?.dirty
            || formCreateNew.controls.price?.touched)">
            Invalid price ! Price must not be left blank !
          </p>
        </div>

        <div class="form-group">
          <label>Start Date :</label>

          <mat-form-field style="width: 250px; margin-left: 25px">
            <input (dateChange)="changeStartDate(startDate)"
                   matInput [matDatepicker]="startDate"
                   formControlName="startDate" placeholder="Please choose a date"/>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <p class="text-danger"
             *ngIf="formCreateNew.controls.startDate?.invalid && (formCreateNew.controls.startDate?.dirty
            || formCreateNew.controls.startDate?.touched)">
            Invalid start date ! Start date must not be left blank !
          </p>
        </div>

        <div class="form-group">
          <label>End Date :</label>

          <mat-form-field style="width: 250px; margin-left: 25px">
            <input [min]="startDateTS" matInput [matDatepicker]="endDate"
                   formControlName="endDate" placeholder="Please choose a date"/>
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

          <p class="text-danger"
             *ngIf="formCreateNew.get('endDate').hasError('required')
                       && (formCreateNew.controls.endDate?.dirty
                      || formCreateNew.controls.endDate?.touched)">
            End date invalid ! Please enter end date other !
          </p>
        </div>

        <div class="form-group">
          <label>Type : </label>
          <select style="margin-left: 15px; width: 200px" formControlName="type">
            <option value="">Select one in List</option>
            <option *ngFor="let typeOfList of typeList">{{typeOfList.name}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.type?.invalid && (formCreateNew.controls.type?.dirty
            || formCreateNew.controls.type?.touched)">
            Invalid type !
          </p>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <h5 class="text-danger" [hidden]="formCreateNew.valid">Please enter all of the above fields correctly !
      </h5>
    </div>
    <div class="row justify-content-center">

<!--      <button [routerLink]="['/list']" class="btn btn-warning mr-3" style="width: 100px">Cancel</button>-->

            <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px">Cancel</button>

      <button class="btn btn-success" [disabled]="formCreateNew.invalid" (click)="createNew()">
        Create New
      </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
