h3{
    color: red;
}

p{
    color: deeppink
}

div.groove {
    border-style: groove;
    padding: 10px;
    width: 700px;
}

.delete {
    border: 2px solid;
}

.row d-flex justify-content-end{
    margin-bottom: 15px;
}

body{
    background-image: url("https://www.air-english.com/sites/default/files/banner_prof_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

html{
    height: 100%;
}

@media (max-width: 576px) {
    .custom-form {
        padding: 40px 30px 55px;
    }
}
@media (max-width: 420px) {
    .custom-form {
        padding: 35px 25px 50px;
    }
    .custom-form h3 {
        font-size: 22px;
    }
}

