h4{
    color: #2b522c;
    margin-bottom: 3%;
}

div.groove{
    border-style: groove;
    margin: 1%;
}

div.container-fluid{
    margin: 1%;
}

body{
    background-image: url("https://www.air-english.com/sites/default/files/banner_prof_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-size: 110%;
}

html{
    height: 100%;
}

.form-control{
    height: 110%;
    width: 150%;
}
