<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sửa Thông Tin Nhân Viên</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div class="groove">
  <div class="container-fluid table-responsive">
    <h1 class="text-center text-danger">Quản Lý Nhân Viên</h1>
    <h4 class="text-center">Sửa Thông Tin Nhân Viên</h4>
    <form [formGroup]="formEdit">
      <div class="row mt-5">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Mã Nhân Viên</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="employeeCode" disabled/>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Tài Khoản</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="email"/>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Họ Tên</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="fullName"/>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Số Điện Thoại</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="numberPhone"/>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Ngày Sinh</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <input type="text" class="form-control" formControlName="birthDay"/>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Phân Quyền</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <select class="form-control d-flex justify-content-start" formControlName="role">
                <option value="Chọn Quyền">Chọn Quyền</option>
                <option value="Quản Lý">Quản Lý</option>
                <option value="Nhân Viên">Nhân Viên</option>
              </select>
            </div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <label>Giới Tính</label>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
              <select class="form-control d-flex justify-content-start" formControlName="gender">
                <option *ngFor="let genderOfList of genderListEdit" [value]="genderOfList.name">
                  {{genderOfList.name}}</option>
              </select>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-7"></div>
          </div>

          <div class="form-row mt-5">
            <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5"></div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
              <button type="button" class="btn btn-primary" value="Quay Lại"
                      [routerLink]="['/list-employee']">Quay Lại
              </button>
              <button type="button" class="btn btn-success ml-2" value="Xóa"
                      [disabled]="formEdit.invalid" (click)="edit()">Xác Nhận
              </button>
            </div>
            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
      </div>
    </form>
  </div>
</div>
</body>
</html>

