<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Edit Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous">

    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        img {
            height: 150px;
            width: 270px;
        }

        h1 {
            color: green;
        }

        .nav-link:hover {
            background-color: black;
            margin-left: 25px;
        }

        h5 {
            margin-left: 90px;
        }

        .col-sm-3 img {
            width: 100%;
        }

        .icon img {
            width: 100%;
            height: 100%;
        }

        .footer {
            background-color: gray;
            text-align: center;
            height: 25px;
        }
        fieldset {
            background-image: linear-gradient(120deg, #4047ff, #81faf4);
            border-radius: 5%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header th:replace="common/common::header"></header>
    <div align="center">
        <div>
            <div class="container">
                <form class="well form-horizontal" action=" " th:action="@{/customer/update}" th:object="${edit}"
                      method="post" id="contact_form">
                    <fieldset>
                        <legend>
                            <center><h2><b>Edit Customer</b></h2></center>
                        </legend>
                        <br>

                        <div class="form-group">
                            <label class="col-md-4 control-label">ID Customer</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="idCustomer" placeholder="ID Customer" class="form-control" type="text"
                                           th:field="*{id}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Name Customer</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="nameCustomer" placeholder="Name Customer" class="form-control"
                                           type="text"
                                           th:field="*{name}" required>
                                </div>
                            </div>
                            <label style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">BirthDay</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="birthday" placeholder="BirthDay Customer" class="form-control"
                                           type="date" th:field="*{birthday}" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">ID Card</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="idCard" placeholder="ID Card Customer" class="form-control"
                                           type="text" th:field="*{idCard}" required>
                                </div>
                            </div>
                            <label style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></label>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Gender</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" th:field="*{gender}" required>
                                        <option th:value="Male">Male</option>
                                        <option th:value="Female">Female</option>
                                        <option th:value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Type Customer</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" th:field="*{typeCustomer}">
                                        <th:block th:each="typeCustomer:${typeCustomerList}">
                                            <option th:value="${typeCustomer.id}"
                                                    th:text="${typeCustomer.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <input name="emailCustomer" placeholder="Email Customer" class="form-control"
                                           type="text" th:field="*{email}" required>
                                </div>
                            </div>
                            <label style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Address</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="addressCustomer" placeholder="Address Customer" class="form-control"
                                           type="text" th:field="*{address}" required>
                                </div>
                            </div>
                            <label style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></label>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone Number</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="phoneNumber" placeholder="Phone Number Customer" class="form-control"
                                           type="text" th:field="*{phone}" required>
                                </div>
                            </div>
                            <label style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-warning">UPDATE</button>
                                <button type="submit" class="btn btn-warning"><a th:href="@{/customer}"
                                                                                 style="text-decoration: none; color: #0c0c0c">CANCEL</a>
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="common/common::footer"></footer>
</div>
</body>
</html>
