<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title th:text="#{edit.title}">Edit Customer</title>
</head>
<body>
<header th:replace="/common::hearderCustomer"></header>
<div align="center">
    <div style="width: 250px; height: 350px">
        <div class="container">
            <form class="well form-horizontal" action=" " th:action="@{/customer/update}" th:object="${customerEdit}"
                  method="post" id="contact_form">
                <fieldset style="background-color: #20b2395e">

                    <!-- Form Name -->
                    <legend>
                        <center><h2 th:text="#{edit.title}"><b>Edit Customer</b></h2></center>
                    </legend>
                    <br>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" th:text="#{list.id}">ID Customer</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input name="ID" placeholder="ID" class="form-control" type="text" th:field="*{id}"
                                       readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" th:text="#{list.name}">Name Customer</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="nameCustomer" placeholder="Name Customer" class="form-control" type="text"
                                       th:field="*{name}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" th:text="#{list.email}">Email</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="emailCustomer" placeholder="Email Customer" class="form-control"
                                       type="text" th:field="*{email}">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" th:text="#{list.address}">Address</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input name="addressCustomer" placeholder="Address Customer" class="form-control"
                                       type="text" th:field="*{address}">
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-2"><br>
                            <button type="submit" class="btn btn-warning" th:text="#{edit.button}">UPDATE</button>
                            <button type="submit" class="btn btn-warning"><a th:href="@{/}"
                                                                             style="text-decoration: none; color: #0c0c0c"
                                                                             th:text="#{create.cancel}">CANCEL</a>
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/common::footerCustomer"></footer>
</body>
</html>
