<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <form [ngModel]="formView">
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: #8b3021"
            id="add">
          <strong>Detail Information</strong></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ID :</label>
          <h5>{{formView.idFormat}}</h5>
        </div>

        <div class="form-group">
          <label>Name :</label>
          <h5>{{formView.name}}</h5>
        </div>

        <div class="form-group">
          <label>Price :</label>
          <h5>{{formView.price}}</h5>
        </div>

        <div class="form-group">
          <label>Status :</label>
          <h5>{{formView.status}}</h5>
        </div>

        <div class="form-group">
          <label>Type :</label>
          <h5>{{formView.type}}</h5>
        </div>

      </div>
    </form>

    <div class="row justify-content-center">
      <!--      <button [routerLink]="['/list']" class="btn btn-warning mr-3" style="width: 100px">Close</button>-->
      <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px" (click)="closeDialog()">Close</button>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
