<div class="container-fluid">
  <div class="row m-0 p-0">
    <div class="col-lg-3 mx-auto mt-4">
<!--      <div class="accordion mb-2" id="accordionExample">-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingOne">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingTwo">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-address-card" aria-hidden="true"></i> Quản lý nhân viên</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingThree">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-user" aria-hidden="true"></i> Quản lý Khách hàng</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingFour">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-car" aria-hidden="true"></i> Quản lý xe ra/vào</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingFive">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-life-ring" aria-hidden="true"></i> Quản lý bãi đỗ</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingSix">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-ticket" aria-hidden="true"></i> Quản lý vé</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="card-header" id="headingSeven">-->
<!--            <h2 class="mb-0">-->
<!--              <a href="#">-->
<!--                <span><i class="fa fa-bar-chart" aria-hidden="true"></i> Thống kê</span>-->
<!--              </a>-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="col-lg-9 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
