<h3 style="color: red">Confirm delete !</h3>
<hr>
<h5 class="my-3">Are you sure you want to delete ID is
  <span class="text-danger font-weight-bold">{{product.idFormat}}</span> ?</h5>
<p style="color: deeppink">This action cannot be undone !</p>
<div class="row d-flex justify-content-end">
  <!--  <input type="hidden" [value]="product.id" #id>-->
  <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px">Cancel</button>
  <button class="btn btn-danger mr-3" style="width: 100px" (click)="deleteCustomer()">Delete</button>
</div>
