<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <form [formGroup]="formEdit">
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: #218b55"
            id="add">
          <strong>Edit Information</strong></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ID :</label>
          <input type="text" class="form-control" formControlName="idFormat"/>
          <p class="text-danger"
             *ngIf="formEdit.get('idFormat').hasError('pattern')
             && (formEdit.controls.idFormat?.dirty
            || formEdit.controls.idFormat?.touched)">
            Invalid ID ! Format ID is XXX-XX-XX with X is number from 0-9 or A-Z !
          </p>

          <p class="text-danger"
             *ngIf="formEdit.get('idFormat').hasError('required')
             && (formEdit.controls.idFormat?.dirty
            || formEdit.controls.idFormat?.touched)">
            Invalid ID ! ID must not be left blank !
          </p>

          <p class="text-danger"
             *ngIf="formEdit.get('idFormat').hasError('idExists')
                                 && (formEdit.controls.idFormat?.dirty
                                || formEdit.controls.idFormat?.touched)">
            ID is exists ! Please enter ID other !
          </p>
        </div>

        <div class="form-group">
          <label>Area :</label>
          <input type="number" class="form-control" formControlName="area"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.area?.hasError('required')
             && (formEdit.controls.area?.dirty
            || formEdit.controls.area?.touched)">
            Invalid area ! Area must not be left blank !
          </p>

          <p class="text-danger"
             *ngIf="formEdit.controls.area?.hasError('min')
             && (formEdit.controls.area?.dirty
            || formEdit.controls.area?.touched)">
            Area must be a positive number and greater than or equal 20 m2
          </p>

          <p class="text-danger"
             *ngIf="formEdit.controls.area?.hasError('pattern')
             && (formEdit.controls.area?.dirty
            || formEdit.controls.area?.touched)">
            Area must be a positive number !
          </p>
        </div>

        <div class="form-group">
          <label>Floor :</label>
          <input type="number" class="form-control" formControlName="floor"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.floor?.hasError('required')
             && (formEdit.controls.floor?.dirty
            || formEdit.controls.floor?.touched)">
            Invalid floor ! Floor must not be left blank !
          </p>

          <p class="text-danger"
             *ngIf="formEdit.controls.floor?.hasError('max')
             && (formEdit.controls.floor?.dirty
            || formEdit.controls.floor?.touched)">
            Floor must be a positive number and less than 16 floors
          </p>

          <p class="text-danger"
             *ngIf="formEdit.controls.floor?.hasError('pattern')
             && (formEdit.controls.floor?.dirty
            || formEdit.controls.floor?.touched)">
            Floor must be a positive number !
          </p>
        </div>

        <div class="form-group">
          <label>Cost :</label><br>
          <input type="number" class="form-control" formControlName="cost"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.cost?.hasError('required')
             && (formEdit.controls.cost?.dirty
            || formEdit.controls.cost?.touched)">
            Invalid cost ! Cost must not be left blank !
          </p>

          <p class="text-danger"
             *ngIf="formEdit.controls.cost?.hasError('min')
             && (formEdit.controls.cost?.dirty
            || formEdit.controls.cost?.touched)">
            Cost must be greater than or equal 1.000.000
          </p>

          <p class="text-danger"
             *ngIf="formEdit.controls.cost?.hasError('pattern')
             && (formEdit.controls.cost?.dirty
            || formEdit.controls.cost?.touched)">
            Price must be a positive number !
          </p>
        </div>

        <div class="form-group">
          <label>Start Date :</label>

          <mat-form-field style="width: 250px; margin-left: 25px">
            <input (dateChange)="changeStartDate(startDate, endDate)"
                   matInput [matDatepicker]="startDate" [max]="endDateTS"
                   formControlName="startDate" placeholder="Please choose a date"/>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <p class="text-danger"
             *ngIf="formEdit.controls.startDate?.invalid
             && (formEdit.controls.startDate?.dirty
            || formEdit.controls.startDate?.touched)">
            Invalid start date ! Start date must not be left blank and must be less than date end 7 days !
          </p>

          <div class="form-group">
            <label>End Date :</label>

            <mat-form-field style="width: 250px; margin-left: 25px">
              <input (dateChange)="changeEndDate(endDate, startDate)"
                     [min]="startDateTS" matInput [matDatepicker]="endDate"
                     formControlName="endDate" placeholder="Please choose a date"/>
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

            <p class="text-danger"
               *ngIf="formEdit.controls.endDate?.invalid
             && (formEdit.controls.endDate?.dirty
            || formEdit.controls.endDate?.touched)">
              Invalid end date ! End dates cannot be left blank and must be 7 days after the start date
            </p>
          </div>

          <div class="form-group">
            <label>Type : </label>
            <select style="margin-left: 15px; width: 200px" formControlName="type">
              <option *ngFor="let typeOfList of typeListEdit" [value]="typeOfList.name">{{typeOfList.name}}</option>
            </select>
            <p class="text-danger"
               *ngIf="formEdit.controls.type?.invalid && (formEdit.controls.type?.dirty
            || formEdit.controls.type?.touched)">
              Invalid type !
            </p>
          </div>

          <div class="form-group">
            <label>Status : </label>
            <select style="margin-left: 15px; width: 200px" formControlName="status">
              <option *ngFor="let statusOfList of statusListEdit" [value]="statusOfList.name">{{statusOfList.name}}</option>
            </select>
            <p class="text-danger"
               *ngIf="formEdit.controls.status?.invalid && (formEdit.controls.status?.dirty
            || formEdit.controls.status?.touched)">
              Invalid status !
            </p>
          </div>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <h5 class="text-danger" [hidden]="formEdit.valid">Please enter all of the above fields correctly !
      </h5>
    </div>
    <div class="row justify-content-center">
      <!-- ---------------------------------- Change Page -------------------------------->
      <!--      <button [routerLink]="['/list']" class="btn btn-warning mr-3" style="width: 100px">Cancel</button>-->
      <!---------------------------------------------------------------------------------->

      <!-- --------------------------------------- Dialog --------------------------------- -->
      <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px">Cancel</button>
      <!------------------------------------------------------------------------------------>

      <button class="btn btn-success" [disabled]="formEdit.invalid" (click)="edit()">
        Update
      </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
