<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <form [formGroup]="formCreateNew">
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: #218b55"
            id="add">
          <strong>Tạo Mới Thông Tin Xe Khách</strong></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Biển Số Xe :</label>
          <input type="text" class="form-control" formControlName="bienSoXe"/>
          <p class="text-danger"
          <p class="text-danger"
             *ngIf="formCreateNew.get('bienSoXe').hasError('required')
             && (formCreateNew.controls.bienSoXe?.dirty
            || formCreateNew.controls.bienSoXe?.touched)">
            Vui Lòng nhập Biển Số Xe !
          </p>
        </div>

        <div class="form-group">
          <label>Loại :</label>
          <input type="text" class="form-control" formControlName="loai"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.loai?.hasError('required')
             && (formCreateNew.controls.loai?.dirty
            || formCreateNew.controls.loai?.touched)">
            Vui Lòng Nhập Loại Xe !
          </p>
        </div>

        <div class="form-group">
          <label>Tên Nhà Xe: </label>
          <input type="text" class="form-control" formControlName="ten"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.ten?.hasError('required')
             && (formCreateNew.controls.ten?.dirty
            || formCreateNew.controls.ten?.touched)">
            Vui Lòng Nhập Tên Nhà Xe ! Tên Nhà Xe Không Được Để Trống
          </p>
        </div>

        <div class="form-group">
          <label>Điểm Đi : </label>
          <select style="margin-left: 15px; width: 200px" formControlName="diaDiemDi">
            <option value="">Select one in List</option>
            <option *ngFor="let diemDi of danhSachDiemDi">{{diemDi.ten}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.diaDiemDi?.invalid && (formCreateNew.controls.diaDiemDi?.dirty
            || formCreateNew.controls.diaDiemDi?.touched)">
            Chọn địa điểm đi !
          </p>
        </div>

        <div class="form-group">
          <label>Điểm Đến : </label>
          <select style="margin-left: 15px; width: 200px" formControlName="diaDiemDen">
            <option value="">Select one in List</option>
            <option *ngFor="let diemDen of danhSachDiemDen">{{diemDen.ten}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.diaDiemDen?.invalid && (formCreateNew.controls.diaDiemDen?.dirty
            || formCreateNew.controls.diaDiemDen?.touched)">
            Chọn địa điểm đến !
          </p>
        </div>

        <div class="form-group">
          <label>Số Điện Thoại :</label>
          <input type="text" class="form-control" formControlName="sdt"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.sdt?.hasError('required')
             && (formCreateNew.controls.sdt?.dirty
            || formCreateNew.controls.sdt?.touched)">
            Vui Lòng Nhập Số Điện Thoại !
          </p>

          <p class="text-danger"
             *ngIf="formCreateNew.controls.sdt?.hasError('pattern')
             && (formCreateNew.controls.sdt?.dirty
            || formCreateNew.controls.sdt?.touched)">
             Kiểm tra lại SĐT ! Số điện thoại phải bắt đầu bằng: 093 | 097 | 090 và đủ 10 số
          </p>
        </div>

        <div class="form-group">
          <label>Email :</label><br>
          <input type="text" class="form-control" formControlName="email"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.email?.hasError('required')
             && (formCreateNew.controls.email?.dirty
            || formCreateNew.controls.email?.touched)">
           Vui Lòng Nhập Email ! Email Không Được Để Trống !
          </p>

          <p class="text-danger"
             *ngIf="formCreateNew.controls.email?.hasError('pattern')
             && (formCreateNew.controls.email?.dirty
            || formCreateNew.controls.email?.touched)">
            Vui Lòng Kiểm Tra Định Dạng Email ! Ví dụ: abc@abc.com
          </p>
        </div>

        <div class="form-group">
          <label>Giờ Đi :</label><br>
          <input type="text" class="form-control" formControlName="gioDi"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.gioDi?.hasError('required')
             && (formCreateNew.controls.gioDi?.dirty
            || formCreateNew.controls.gioDi?.touched)">
            Vui Lòng Nhập Giờ Đi ! Giờ Đi Không Được Để Trống !
          </p>
        </div>

        <div class="form-group">
          <label>Giờ Đến :</label><br>
          <input type="text" class="form-control" formControlName="gioDen"/>
          <p class="text-danger"
             *ngIf="formCreateNew.controls.gioDen?.hasError('required')
             && (formCreateNew.controls.gioDen?.dirty
            || formCreateNew.controls.gioDen?.touched)">
            Vui Lòng Nhập Giờ Đến ! Giờ Đến Không Được Để Trống !
          </p>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <h5 class="text-danger" [hidden]="formCreateNew.valid">Please enter all of the above fields correctly !
      </h5>
    </div>
    <div class="row justify-content-center">
      <!-- --------------------------------------- Dialog --------------------------------- -->
      <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px">Cancel</button>
      <!------------------------------------------------------------------------------------>

      <button class="btn btn-success" [disabled]="formCreateNew.invalid" (click)="createNew()">
        Tạo Mới
      </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
