<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <form [formGroup]="formEdit">
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: #8b3021"
            id="add">
          <strong>Edit Information</strong></h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name :</label>
          <input type="text" class="form-control" formControlName="name"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.name?.invalid && (formEdit.controls.name?.dirty
            || formEdit.controls.name?.touched)">
            Invalid name ! Name must not be left blank !
          </p>
        </div>

        <div class="form-group">
          <label>Price :</label><br>
          <input type="text" class="form-control" formControlName="price"/>
          <p class="text-danger"
             *ngIf="formEdit.controls.price?.invalid && (formEdit.controls.price?.dirty
            || formEdit.controls.price?.touched)">
            Price is not valid ! Price must be a positive number !
          </p>
        </div>

        <div class="form-group">
          <label>Start Date :</label>

          <mat-form-field style="width: 250px; margin-left: 25px">
            <input (dateChange)="changeStartDate(startDate, endDate)"
                   matInput [matDatepicker]="startDate" [max]="endDateTS"
                   formControlName="startDate" placeholder="Please choose a date"/>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <p class="text-danger"
             *ngIf="formEdit.controls.startDate?.invalid
             && (formEdit.controls.startDate?.dirty
            || formEdit.controls.startDate?.touched)">
            Invalid start date ! Start date must not be left blank and must be less than date end 7 days !
          </p>

<!--          <p class="text-danger"-->
<!--             *ngIf="formEdit.controls.startDate?.hasError('required') && (formEdit.controls.startDate?.dirty-->
<!--            || formEdit.controls.startDate?.touched)">-->
<!--            Invalid start date ! Start date must not be left blank !-->
<!--          </p>-->

<!--          <p class="text-danger"-->
<!--             *ngIf="formEdit.controls.startDate?.hasError('matDatepickerMax')-->
<!--             && (formEdit.controls.startDate?.dirty-->
<!--            || formEdit.controls.startDate?.touched)">-->
<!--            Invalid start date ! Start date must be less than date end 7 days !-->
<!--          </p>-->
        </div>

        <div class="form-group">
          <label>End Date :</label>

          <mat-form-field style="width: 250px; margin-left: 25px">
            <input (dateChange)="changeEndDate(endDate, startDate)"
                   [min]="startDateTS" matInput [matDatepicker]="endDate"
                   formControlName="endDate" placeholder="Please choose a date"/>
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

          <p class="text-danger"
             *ngIf="formEdit.controls.endDate?.invalid
             && (formEdit.controls.endDate?.dirty
            || formEdit.controls.endDate?.touched)">
            Invalid end date ! End dates cannot be left blank and must be 7 days after the start date
          </p>

<!--          <p class="text-danger"-->
<!--             *ngIf="formEdit.get('endDate').hasError('required')-->
<!--                       && (formEdit.controls.endDate?.dirty-->
<!--                      || formEdit.controls.endDate?.touched)">-->
<!--            End date invalid ! Please enter end date other !-->
<!--          </p>-->

<!--          <p class="text-danger"-->
<!--             *ngIf="formEdit.controls.endDate?.hasError('matDatepickerMin')-->
<!--             && (formEdit.controls.endDate?.dirty-->
<!--            || formEdit.controls.endDate?.touched)">-->
<!--            Invalid start date ! End date must to than date start 7 days !-->
<!--          </p>-->
        </div>

        <div class="form-group">
          <label>Type : </label>
          <select style="margin-left: 15px" formControlName="type">
            <option *ngFor="let typeOfList of typeListEdit" [value]="typeOfList.name">
              {{typeOfList.name}}</option>
          </select>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <h5 class="text-danger" [hidden]="formEdit.valid">Please enter all of the above fields correctly !
      </h5>
    </div>
    <div class="row justify-content-center">

      <!--      <button [routerLink]="['/list']" class="btn btn-warning mr-3" style="width: 100px">Cancel</button>-->

      <button mat-dialog-close class="btn btn-warning mr-3" style="width: 100px">Cancel</button>

      <button class="btn btn-success" [disabled]="formEdit.invalid" (click)="edit()">
        Update
      </button>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
