<h2>Awesome Calculator</h2>
<div>
  <input type="number" class="form-input"
         [value]="first"
         (change)="onFirstChange($event.target.value)">
  <select
    class="form-input"
    [value]="operator"
    (change)="onSelectChange($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" class="form-input"
         [(ngModel)]="second">
</div>
<div>
  <br>
  <button class="form-input" (click)="calculate()">
    Thực thi
  </button>
</div>
<br>
<div class="output" style="color: red; background: aqua"><strong>
  {{output}}
</strong>
</div>
<hr>
