<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header-Footer</title>
</head>
<body>
<header th:fragment="hearderBlog">
    <div align="center">
        <h1>My Blog</h1>
        <h4 style="color: #6f1e7e">Welcome, <span sec:authentication="principal.username"></span></h4>
        <hr>
    </div>
</header>
<footer th:fragment="footerBlog">
    <hr>
    <div align="center">
        <a th:href="@{/}">Log Out</a><br>
        CodeGym 2020
    </div>
</footer>
</body>
</html>